<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Nolan's First Birthday</title>
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
      <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins|Rammetto+One');
      </style>
      <link href="/fonts"
  </head>
  <body>
      <!-- <h1>{{pageTitle}}</h1> -->
  <nav>
      <a class="link" href="/">Home</a>
      <a class="link" href="/about">Location</a>
      <a class="link" href="/activities">Activities</a>
  </nav>
